.new-product-item{
    border: 1px solid rgba(1,1,1,0.3);
    box-shadow: 1px 5px 4px 2px rgba(1,1,1,0.2);
    border-radius: 2px;
    width: 100%;
    margin-right: 5%;

}
.new-product-item:hover{
    border: 1px solid #1d74cc;
}
.new-product-item img {
    margin-left: 20%;
    padding: 1% 5%;
    max-width: 15vw;
    min-width: 15vw;
    min-height: 15vw;
    max-height: 15vw;
}

.new-product-item h3{
    text-transform: uppercase;
    font-size: 1vw;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 10% !important;
}

.new-product-item h4{
    text-align: left;
    padding: 0 10%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5%;
    font-size: 1vw;

}

.new-star-rating-container{
    margin-left: 10%;
    margin-bottom: 4%;
    background-color:#55c3bd !important;
    color: white;
    width: fit-content;
    font-size: 1vw !important;
    padding: 0.4vw 0.8vw!important;
    border-radius: 10px;
}
.new-star-rating-container span{
    padding-left: 0.5vw;
}